MONGODB_URI=
MONGODB_DB=sponsor_my_screens
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_KEY=
DODO_PAYMENTS_ENVIRONMENT=live_mode
DODO_PAYMENTS_RETURN_URL=https://rentmyscreen.mscodee.com/success
DODO_SPONSOR_PRODUCT_ID=
NEXT_PUBLIC_SITE_URL=https://rentmyscreen.mscodee.com
